body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: hsl(168, 8%, 88%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 450px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  margin: 90px auto;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h3 {
  margin: 10px 0;
}
.fullNameDiv {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  gap: 8px;
}
input {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid rgb(201, 196, 196);
  width: 100%;
}
.emailSection {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
/* .querySection {
  display: flex;
} */
/* .querySection label:first-child {
  margin-top: 50px;
} */
.queryTypeDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.queryTypeDiv div{
  border: 1px solid rgb(201, 196, 196);
  width: 45%;
  padding: 7px;
  border-radius: 10px;
}
.queryTypeDiv div input{
  width: 20px;
  margin-right: 15px;
}
.queryTypeDiv div label {
  display: flex;
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.descriptionSection label {
  margin-bottom: 7px;
}
.descriptionSection textarea {
  border-radius: 7px;
  border: 1px solid rgb(201, 196, 196);
  padding: 10px;
}
button {
  width: 100%;
  background-color: #52a51b;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
.policySection{
  margin: 20px 0;
}
.policySection label{
  display: flex;
}
.policySection label input{
  width: 15px;
  margin-right: 15px;
  margin-left: 5px;
}

.error-message {  
  color: red;  
  font-size: 0.9em;  
}  

.form-message {  
  display: none;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
font-size: 1rem;
  margin: 15px auto ;  
  color: #fff;  
  text-align: center;  
  background-color: #201f1f;
  text-align: center;  
  position: fixed; /* یا position: absolute; */
  top: 20px; /* فاصله از بالا */
  left: 50%; /* قرارگیری در وسط افقی */
  transform: translateX(-50%); /* جابجایی برای مرکز شدن */
  z-index: 1000; /* اطمینان از نمایش در بالای سایر عناصر */
} 

input:focus, textarea:focus, button:focus {  
  outline: 2px solid hsl(90, 100%, 40%);  
}  

button:hover {  
  background-color: #45a30e; /* رنگ تغییر یافته برای حالت hover */  
}  

input:hover, textarea:hover {  
  border-color: hsl(90, 100%, 40%);  
} 